  
<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>DL API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body background="https://i1.pngguru.com/preview/287/731/669/cat-and-dog-cartoon-photographic-filter-drawing-camera-kawaii-cuteness-nose-snout-png-clipart.jpg">
 <div class="login">
	<b><i><u><h1 style="text-align:center">Image Classifier : Cat vs Dog !</h1></i></b></u></font>
	<b><i><u><h1 style="text-align:center">Enter a picture in the magic machine !!</h1></i></b></u></font>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="POST" enctype="multipart/form-data">
    	<input name="file" type="file" accept=".png, .jpg, .jpeg" placeholder="Picture" required="required"  />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   <p style="color:blue;font-size:18px;"><b>{{ prediction_text }}</b></p>

 </div>


</body>
</html>
