  
<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>DL API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body background="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.telegraph.co.uk%2Fnews%2F2017%2F01%2F25%2Fcats-dogs-equally-intelligent-new-research%2F&psig=AOvVaw1_zTZq3cCafr-14UWvdmJ-&ust=1596081315083000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOjssL_I8eoCFQAAAAAdAAAAABAD">
 <div class="login">
	<b><i><u><h1 style="text-align:center">Image Classifier : Cat vs Dog !</h1></i></b></u></font>
	<b><i><u><h1 style="text-align:center">Enter a picture in the magic machine !!</h1></i></b></u></font>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="POST" enctype="multipart/form-data">
    	<input name="file" type="file" accept=".png, .jpg, .jpeg" placeholder="Picture" required="required"  />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
